*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: red; */
}
.main>*{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main>*>*{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.main input{
    width: 300px;
    padding: 1rem;
    border: 5px solid coral;
}
.main input:focus{
    border-radius: 5rem;
    
}
.main>*>h3{
    text-align: center;
}
.main #btn{
    width: 100px;
    height: 50px;
    background-color: #7c3aed;
    color: white;
    border-radius: 2rem;
}
#output{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
 header{
    text-align: center;
    padding: 1rem;
    font-size: 25px;
    font-weight: bold;
}